In [6]:
chars = list(input("Enter the string: "))  # Example: Python
del chars[0]  # Delete 'y'
del chars[1]  # Delete 'h'
reversed_str = ''.join(reversed(chars))
print("Result:", reversed_str)

Enter the string: python
Result: nohy

In [7]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number: 2
Enter second number: 8
Addition: 10
Subtraction: -6
Multiplication: 16
Division: 0.25

In [9]:
sentence = input("Enter a sentence: ")
modified = sentence.replace('python', 'pythons')
print("Modified sentence:", modified)

Enter a sentence: python is a versatile, high-level programming language
Modified sentence: pythons is a versatile, high-level programming language

In [10]:
score = int(input("Enter your class score: "))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print("Grade:", grade)

Enter your class score: 84
Grade: B

In [11]:
x = [23, 'Python', 23.98]
types = [type(i) for i in x]

print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [12]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Length
print("Length:", len(IT_companies))

# Add
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# Insert multiple
IT_companies.update(['TCS', 'Infosys'])
print("After multiple insertions:", IT_companies)

# Remove one
IT_companies.remove('IBM')
print("After removing IBM:", IT_companies)

# Remove vs Discard
print("Remove() throws error if item not found. Discard() does not.")

# Join A and B
print("A union B:", A.union(B))

# Intersection
print("A ∩ B:", A.intersection(B))

# A subset B?
print("Is A subset of B?", A.issubset(B))

# Disjoint?
print("Are A and B disjoint?", A.isdisjoint(B))

# Join A with B and B with A
print("A | B:", A | B)
print("B | A:", B | A)

# Symmetric difference
print("Symmetric difference:", A.symmetric_difference(B))

# Delete sets
del A
del B

# Convert age list to set
age_set = set(age)
print("Length of list:", len(age))
print("Length of set:", len(age_set))

Length: 7
After adding Twitter: {'IBM', 'Facebook', 'Oracle', 'Microsoft', 'Twitter', 'Apple', 'Google', 'Amazon'}
After multiple insertions: {'Twitter', 'Infosys', 'Apple', 'IBM', 'Facebook', 'Oracle', 'TCS', 'Google', 'Amazon', 'Microsoft'}
After removing IBM: {'Twitter', 'Infosys', 'Apple', 'Facebook', 'Oracle', 'TCS', 'Google', 'Amazon', 'Microsoft'}
Remove() throws error if item not found. Discard() does not.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A ∩ B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Length of list: 8
Length of set: 5